.waterfall {
    width: 100%;
    margin: 0px auto;
    column-count: 3;
    /*欄數*/
    column-gap: 10px;
    /*每欄間隔*/
}

.item {
    background-color: lightgrey;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 auto 5px;
    break-inside: avoid;
    /*定義頁面、列或是區域發生中斷時的元素表現方式。 auto->元素中斷、acoid->元素不中斷*/
}

img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.img_width {
    font-size: 20px;
    width: 60%;
    min-width: auto;
    background-color: #ccc;
    margin: auto;
}

.top_banner {
    width: 1920px;

    position: fixed;  /*固定在網頁上不隨卷軸移動，若要隨卷軸移動用absolute*/

    top: 0%;  /*設置垂直位置*/

    /*right: 1000px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/

    background: #000000;  /*背景顏色*/

    padding: 10px 20px;

    /* border-radius: 10px;  圓角 */

    text-align: justify;
}

.top_banner_btn {
    text-align: center;
}

